<div class="mdl-grid">
    <div class="mdl-cell">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: auto">
            <div class="mdl-card__title" ng-style="{background: vm.style}">
                <div ng-if="!vm.uploaded" ngf-select="vm.upload($files,this,$index)" ngf-drop="vm.upload($files,this,$index)" style="margin: 0 auto; width: 100%;    text-align: center;">
                    <div style="margin: 0 auto; text-align: center;">
                        <i class="fa fa-hdd-o fa-5x"></i>
                    </div>
                    
                    <p><b>Choose a file</b> or drag it here.</p>
                </div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                <div ng-if="vm.uploaded" style="margin: 0 auto; color: white;">
                    <div style="margin: 0 auto; text-align: center;">
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                    <p><b>Successfully Uploaded.</b> Click Add to proceed</p>
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%;">
                    <input class="mdl-textfield__input" type="text" id="album_name" ng-model="vm.caption">
                    <label class="mdl-textfield__label" for="album_name">Add Caption (Optional)</label>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border" style="text-align: center;">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="vm.add_image()">
                    Add
                </a>
            </div>
        </div>
    </div>
</div>

<!--<div id="gallery">
    <a href="path/to/image2.jpg" class="entry">
    </a>
    <a href="path/to/image2.jpg" class="entry">
        <img src="/assets/images/preview.jpg" >    
    </a>
    <a href="path/to/image2.jpg" class="entry">
        <img src="/assets/images/login.jpg" >
    </a>
</div>-->