body {
    font-size: 12px;
    max-width: 10000px;
    background: #F5F5F5;
    min-width: 960px;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width:851px){
	.mdl-layout__drawer-button {
	    display: none;
	}
}

.site-header {
    height: 56px;
    height: 3.5rem;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.35);
    left: 0;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    z-index: 100;
}

.menu_navigation {
    color: #848484 !important;
}

.left_container {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03A9F4 url('/assets/images/login.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.right_container {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #03A9F4 url('/assets/images/signup.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.signin_form{
    width: 250px;
    margin: 0 auto;
    top: 50%;
    margin-top: -162px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}

.user_login{
    float:right;
    margin: 1px;
}

.button_left.light{
    background: rgb(33,150,243);
    color: rgb(255,255,255);
}

.button_right.light{
    color: rgb(33,150,243);
}

.button_right.light.title{
    font-weight: 100;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label.float_color{
    color:rgb(33,150,243) !important;
}