body {
    font-size: 12px;
    max-width: 10000px;
    background: #F5F5F5;
    min-width: 960px;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width:851px){
	.mdl-layout__drawer-button {
	    display: none;
	}
}

.site-header {
    height: 56px;
    height: 3.5rem;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.35);
    left: 0;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    z-index: 100;
}

.menu_navigation {
    color: #848484 !important;
}

.kayitback {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03A9F4 url('http://ertekinn.com/loginsignup/login.png');
    background-size: cover;
    background-position: 50% 50%;
}

.girisback {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}